html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    cursor: pointer;
}

html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 40rem;
    margin: 0 auto;
    background: #E5E5E5;
    height: 100vh;
}

.hero {
    background: url("bg.jpg");
    background-size: cover;
}

.hero,
.hero-subset {
    height: 50vh;
}

.hero-subset,
button {
    background: #5200FF;
    color: #FFFFFF;
}

.hero-subset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4.2rem;
    opacity: 0.8;
}

.sign-up {
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
    margin-top: 5rem;

}

.hero-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
}

.hero-subtitle {
    font-size: 1.6rem;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: start;
}

input {
    border: 1px solid #C7C7C7;
}

input,
button {
    width: 30rem;
    padding: 1rem 0;
    margin: 1rem 0 2rem;
    cursor: pointer;
}

button {
    border: 0;
}


@media only screen and (min-width: 769px) {
    .container {
        max-width: 70rem;
    }

    .hero,
    .hero-subset {
        height: 70vh;
    }

    .hero-title,
    .hero-subtitle {
        width: 70%;
    }

    .sign-up {
        grid-template-columns: 1fr 1fr;
        place-items: start;
        padding-left: 3rem;
    }

    input,
    button {
        width: 30rem;
        margin-right: 1rem;
    }

    button {
        width: 18rem;
        place-self: start;
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 900px) {
    .container {
        max-width: 100rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }

    .hero,
    .hero-subset {
        height: 100vh;
        text-align: right;
    }

    .hero-title,
    .hero-subtitle {
        width: 90%;
    }

    .hero-subtitle {
        font-size: 1.6rem;
    }

    .sign-up {
        grid-template-columns: 1fr;
        place-items: start;
    }
}
